body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f3f3f3;
    font-family: 'Arial', sans-serif;
}

.calculator {
    border: 1px solid #000;
    border-radius: 8px;
    overflow: hidden;
    width: 600px;
}

.calculator-screen {
    width: 600px;
    height: 80px;
    border: none;
    background-color: #252525;
    color: #fff;
    font-size: 2.5rem;
    text-align: center;
    padding-right: 50px;
    padding-left: 20px;
}

.calculator-keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 20px;
}

button {
    height: 60px;
    border: none;
    border-radius: 4px;
    font-size: 1.5rem;
    background-color: #615f5f;
    cursor: pointer;
    transition: background-color 0.3s;
}

button.operator {
    background-color: #e8750a;
    color: #fff;
}

button.equal-sign {
    background-color: #7c766c;
    color: #fff;
    grid-column: span 4;
}

button.all-clear {
    background-color: #eb1207;
    color: #fff;
}

button:hover {
    background-color: #d4d4d2;
}

button.operator:hover, button.equal-sign:hover, button.all-clear:hover {
    background-color: #cc8d00;
}
